<!DOCTYPE html>
<html lang="en">
	<head th:replace="fragments/head" />
<body>

<!-- Barra de Navegación superior -->
<nav th:replace="fragments/nav" />

<div class="container">
  <h2>Profesores</h2>
  <p>Profesores que constan en el sistema:</p>                                                                                      
  <div class="table-responsive">          
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="col-md-1">id</th>
		<th class="col-md-1">DNI</th>
		<th class="col-md-1">Nombre</th>
		<th class="col-md-1">Apellidos</th>
		<th class="col-md-1">Categoria</th>
      </tr>
    </thead>
	<tbody>
	  <tr th:each="professor : ${professorList}">
	    <td th:text="${professor.id}"></td>
	    <td th:text="${professor.nombre"></td>
	    <td th:text="${professor.apellidos}"></td>
	    <td th:text="${professor.categoria}"></td>
	  </tr>
	</tbody>
  </table>
  </div>
</div>


</body>
</html>
